
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true


TrainFile = /Users/busarobi/work/XMLC/data/AmazonCat/amazonCat_train.txt
ModelFile = ./examples/AmazonCat_model_ontrain.model

hasher = Mask
MLFeatureHashing = 1073741824
Learner = PLT


gamma = 0.00001
epochs = 20
lambda = 0.0001
k = 16

# treeFile = ./examples/huffman_tree.txt
# treeType = HuffmanTree


