
##############################################################################
# if no validation data is given, then the training data is used for validation
#-- wiki1K
#TrainFile = ../data/wiki1K-50/train.txt
#ValidFile = ../data/wiki1K-50/validation.txt
#TestFile = ../data/wiki1K-50/test.txt

#-- mediamill
#TrainFile = ../data/mediamill/train-exp1.svm
#TestFile = ../data/mediamill/test-exp1.svm

#-- aloi
#TrainFile = ../data/aloi/aloi-train.scale
#ValidFile = ../data/aloi/aloi-train.scale
#TestFile = ../data/aloi/aloi-test.scale

#-- sector
TrainFile = ../data/sector/sector.scale
ValidFile = ../data/sector/sector.scale
TestFile = ../data/sector/sector.t.scale

#-- yeast
#TrainFile = ../data/yeast/yeast_train.svm
#ValidFile = ../data/yeast/yeast_train.svm
#TestFile = ../data/yeast/yeast_test.svm


Outfile = ./outfile.txt

#ModelFile = ./MLlogreg_wiki1K-50.model

## If input model file is set, then it will read the model from this file
#InputModelFile = ./MLlogreg_wiki1K-50.model


# Number of output features for feature hashing 
#FeatureHashing = 131072
#MLFeatureHashing = 67108864
MLFeatureHashing = 1048576
#FeatureHashing = 512

StepFunction = Adam
#Learner = MLLog
#Learner = MLLogNP
#Learner = PLTFHRKary
#Learner = BRTreeFHRNS
Learner = PCT
#Learner = FT
#Learner = PCC
#Learner = FC

##############################################################################
# BRTreeFHRNS
##############################################################################
#File: Wiki1K 
#PrecAtK[1] = 0.772
#Hyperparameters:
#gamma = 1.0
#k = 2
#step = 2000
#lambda = 0.000001
#epochs = 20
#samplingRate = 10

#PCC yeast
#gamma = 0.1
#lambda = 0.0000001
#epochs = 10

#FC yeast
#gamma = 0.1
#lambda = 0.0000001
#epochs = 10


#PCC mediamill
#gamma = 1
#lambda = 0.0001
#epochs = 15

#FC mediamill
#gamma = 0.1
#lambda = 0.0001
#epochs = 15

#PCT sector
gamma = 1.0
lambda = 0.000001
epochs = 10

#FT sector
#gamma = 1.0
#lambda = 0.000001
#epochs = 10


##############################################################################

# for PLT 
IThreshold = 0.05

##############################################################################

