
##############################################################################
# if no validation data is given, then the training data is used for validation
#-- wiki1K

#TrainFile = /Users/busarobi/work/XMLC/data/wiki1K-50/train.txt
#TestFile = /Users/busarobi/work/XMLC/data/wiki1K-50/test.txt
#ValidFile = /Users/busarobi/work/XMLC/data/wiki1K-50/validation.txt

#-- mediamill
TrainFile = /Users/busarobi/work/XMLC/data/mediamill/train-exp1.svm
TestFile = /Users/busarobi/work/XMLC/data/mediamill/test-exp1.svm

Outfile = ./outfile.txt

#ModelFile = ./MLlogreg_wiki1K-50.model

## If input model file is set, then it will read the model from this file
#InputModelFile = ./MLlogreg_wiki1K-50.model


# Number of output features for feature hashing 
#FeatureHashing = 131072
#FeatureHashing = 524288
#FeatureHashing = 512

StepFunction = Adam
#Learner = MLLog
#Learner = MLLogNP
Learner = PLT

##############################################################################
# Logistic Regression
##############################################################################
gamma = 20.0 
step = 2000
delta = 0
epochs = 50

# for negative sampling
# 0 = uniform
nsamp = 0
nsamppar = 20.0

##############################################################################

# for PLT 
IThreshold = 0.05


##############################################################################

