
##############################################################################
# if no validation data is given, then the training data is used for validation
#-- wiki1K

TrainFile = ../data/wiki1K-50/train.txt
TestFile = ../data/wiki1K-50/test.txt
ValidFile = ../data/wiki1K-50/validation.txt

#-- mediamill
#TrainFile = /Users/busarobi/work/XMLC/data/mediamill/train-exp1.svm
#TestFile = /Users/busarobi/work/XMLC/data/mediamill/test-exp1.svm

Outfile = ./outfile.txt

#ModelFile = ./MLlogreg_wiki1K-50.model

## If input model file is set, then it will read the model from this file
#InputModelFile = ./MLlogreg_wiki1K-50.model


# Number of output features for feature hashing 
#FeatureHashing = 131072
MLFeatureHashing = 67108864
#FeatureHashing = 512

StepFunction = Adam
#Learner = MLLog
#Learner = MLLogNP
#Learner = PLTFHRKary
Learner = BRTreeFHRNS

##############################################################################
# BRTreeFHRNS
##############################################################################
#File: Wiki1K 
#PrecAtK[1] = 0.772
#Hyperparameters:
#gamma = 1.0
#k = 2
#step = 2000
#lambda = 0.000001
#epochs = 20
#samplingRate = 10


gamma = 1.0
k = 2
step = 2000
lambda = 0.000001
epochs = 20
samplingRate = 10


##############################################################################

# for PLT 
IThreshold = 0.05


##############################################################################

