
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true
TrainFile = /home/busarobi/XMLC/data/RCV1/rcv1x_train.txt
TestFile = /home/busarobi/XMLC/data/RCV1/rcv1x_test.txt

ModelFile = /home/busarobi/XMLC/TrainModels/RCV1/model_ontrain.model

## If input model file is set, then it will read the model from this file
#InputModelFile = /Users/busarobi/work/XMLC/MLLogReg/MLlogreg.model

# Hasher
hasher = Mask
#2^30
#MLFeatureHashing = 1073741824
#2^29
MLFeatureHashing = 536870912

Learner = PLTFHRKary





##############################################################################
# Logistic Regression
##############################################################################

gamma = 0.5
epochs = 5
lambda = 0.00001
k = 32




