
##############################################################################

TestFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_train.txt
TestLabelFile = ./post/train_labels.txt
TestPostFile  = ./post/train_posteriors.txt
InputModelFile = ./examples/model_ontrain.model

Learner = PLT







##############################################################################
# threshold for the posteriors
minThreshold = 0.0001






