
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true

TestFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_test.txt
InputModelFile = ./examples/model_ontrain.model

hasher = Mask
MLFeatureHashing = 268435456
Learner = PLT


gamma = 0.1
epochs = 10
lambda = 0.000001
k = 32



