
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true

TrainFile = C:/cygwin64/home/Kalina/vw/datasets4vw/xml_repo/original/RCV1-x/rcv1x_train.txt
#TestFile = C:/cygwin64/home/Kalina/vw/datasets4vw/xml_repo/original/RCV1-x/rcv1x_test.txt
#ValidFile = C:/cygwin64/home/Kalina/vw/datasets4vw/xml_repo/original/RCV1-x/rcv1x_train.txt
ModelFile = ./examples/model_ontrain.model

hasher = Mask
MLFeatureHashing = 16777216
Learner = PLT


gamma = 0.1
epochs = 10
lambda = 0.000001
k = 2

treeFile = C:/cygwin64/home/Kalina/vw/datasets4vw/xml_repo/original/RCV1-x/rcv1x_tree_naive.txt
treeType = Precomputed

