
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true

TrainFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_train.txt
ModelFile = ./examples/model_ontrain.model

hasher = Mask
MLFeatureHashing = 268435456
Learner = PLT


gamma = 0.1
epochs = 10
lambda = 0.000001
k = 32

treeFile = ./examples/huffman_tree.txt
treeType = HuffmanTree


