
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true
TrainFile = /home/busarobi/XMLC/data/RCV1/rcv1x_train_train.txt
ValidFile = /home/busarobi/XMLC/data/RCV1/rcv1x_train_valid.txt
TestFile = /home/busarobi/XMLC/data/RCV1/rcv1x_test.txt


## If input model file is set, then it will read the model from this file
#InputModelFile = /Users/busarobi/work/XMLC/MLLogReg/MLlogreg.model

# Hasher
hasher = Mask
#2^30
#MLFeatureHashing = 1073741824
# jo volt wiki1k-ra (2^26)
MLFeatureHashing = 67108864


Learner = PLTFHRKary





##############################################################################
# Logistic Regression
##############################################################################

gamma = 0.05
epochs = 10
lambda = 0.000001
k = 32




##############################################################################
# For Grid Search
numWorkers = 10
numOfTrials = 100
outFile = grid_search_result.txt


