
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true

TrainFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_train.txt
TestFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_test.txt


# TrainFile = /Users/busarobi/work/XMLC/data/wiki10/wiki10_train.txt
# TestFile = /Users/busarobi/work/XMLC/data/wiki10/wiki10_test.txt


ModelFile = ./examples/deepplt_model_ontrain.model

hasher = Mask
# MLFeatureHashing = 268435456
MLFeatureHashing = 65536
Learner = ParallelDeepPLT
numThreads = 4

gamma = 1.0
epochs = 5
lambda = 0.0000001
k = 32

hiddendim = 500

hiddenvectorsFile = /Users/busarobi/work/XMLC/Clustering/data/hiddenvectors_parallel.txt
hiddenlabelvectorsFile = /Users/busarobi/work/XMLC/Clustering/data/hiddenlabelvectors_parallel.txt

treeFile = ./examples/deep_tree.txt
# treeType = HuffmanTree


