
##############################################################################

TrainFile = /home/busarobi/XMLC/data/RCV1/rcv1x_train_train.txt
TestFile = /home/busarobi/XMLC/data/RCV1/rcv1x_test.txt
ValidFile = /home/busarobi/XMLC/data/RCV1/rcv1x_train_valid.txt


ValidPostFile = ./post/valid_posteriors.txt
TestPostFile = ./post/test_posteriors.txt
ValidLabelFile = ./post/valid_labels.txt
TestLabelFile = ./post/test_labels.txt
InputModelFile = ./model_ontrain_train.model

# Hasher
hasher = Mask
#2^30
#MLFeatureHashing = 1073741824
#2^29
MLFeatureHashing = 536870912

Learner = PLTFHRKary





##############################################################################
# Logistic Regression
##############################################################################

gamma = 0.5
epochs = 5
lambda = 0.00001
k = 32




##############################################################################
# threshold for the posteriors
minThreshold = 0.0001


##############################################################################
# parameters for the threshold tuning algorithms

ThresholdEpochs = 1
a = 1
b = 20





