
##############################################################################

TestFile = /home/busarobi/XMLC/data/RCV1/rcv1x_test.txt
TestPostFile = ./examples/test_posteriors.txt
TestLabelFile = ./examples/test_labels.txt




ValidFile = /home/busarobi/XMLC/data/RCV1/rcv1x_train.txt
ValidLabelFile = ./examples/valid_labels.txt
ValidPostFile = ./examples/valid_posteriors.txt



OutFile = ./examples/thresholds_and_scores.txt









