
##############################################################################

# for the number of the labels, it reads only the first line of the file
TrainFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_test.txt

TestPostFile = ./examples/test_posteriors.txt
TestLabelFile = ./examples/test_labels.txt

ValidLabelFile = ./examples/train_labels.txt
ValidPostFile = ./examples/train_posteriors.txt

Method = FTA
ThresholdFile = ./examples/fta_thresolds.txt

OutFile = ./examples/thresholds_and_scores.txt









