
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true
TrainFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_train_train.txt
ValidFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_train_valid.txt
TestFile = /Users/busarobi/work/XMLC/data/RCV1/rcv1x_test.txt

ModelFile = /Users/busarobi/work/XMLC/TrainModels/RCV1/model_ontrain_train.model

## If input model file is set, then it will read the model from this file
# InputModelFile = /Users/busarobi/work/XMLC/TrainModels/RCV1/model_ontrain_train.model

# Hasher
hasher = Mask
# 2^30
# MLFeatureHashing = 1073741824
# 2^29
# MLFeatureHashing = 536870912
#2^25 
MLFeatureHashing = 268435456
Learner = PLT





##############################################################################
# Logistic Regression
##############################################################################

gamma = 0.1
epochs = 10
lambda = 0.000001
k = 32




