
##############################################################################

TestFile = /home/busarobi/XMLC/data/RCV1/rcv1x_train.txt
TestLabelFile = ./post/train_labels.txt
TestPostFile  = ./post/train_posteriors.txt
InputModelFile = ./examples/model_ontrain_train.model


# Hasher
hasher = Mask
# 2^30
# MLFeatureHashing = 1073741824
# 2^29
# MLFeatureHashing = 536870912
#2^25 
MLFeatureHashing = 268435456


Learner = PLT







##############################################################################
# threshold for the posteriors
minThreshold = 0.0001






