
##############################################################################
# if no validation data is given, then the training data is used for validation

IsHeader = true
TrainFile = /windows/projects/xmlc/data/wiki10/wiki10_train_with_header.txt
TestFile = /windows/projects/xmlc/data/wiki10/wiki10_test_with_header.txt
#ValidFile = /windows/projects/xmlc/data/wiki10/wiki10_train_valid.txt
TreeFile = /windows/projects/xmlc/data/wiki10/tree/wiki10_train-processed.txt

ModelFile = /windows/projects/xmlc/XMLC/model/wiki10

##############################################################################
hasher = Mask

# for wiki1k
#2^24
MLFeatureHashing = 16777216
#2^27
#MLFeatureHashing = 134217728
#2^30
#MLFeatureHashing = 1073741824
#2^29
#MLFeatureHashing = 536870912

#Learner = MLLog
#Learner = MLLogNP
#Learner = PLT
#Learner = PLTFH
#Learner = Constant
#Learner = PLTFHR
#Learner = PLTFHRKary
Learner = PLTFHROfflineTree

StepFunction = SimpleL1
numWorkers = 1

##############################################################################
# Logistic Regression
##############################################################################

gamma = 0.00001
epochs = 30
lambda = 0.00001
k = 2

##############################################################################

minThreshold = 0.01
ThresholdEpochs = 1
a = 1
b = 20

#############################################################################

